}

@keyframes rotate {
  from {
    rotate: 0deg;
  }

  50% {
    scale: 1 1.5;
  }

  to {
    rotate: 360deg;
  }
}

img {
  width:80%;
  margin:5% 10% 5% 10%;
  border-radius:20px;
}

.linkEmbed {
  padding: 10px;
  border-style: solid;
  border-width: 1px;
  border-color: #fffbfc;
  border-radius: 20px;
  position: absolute;
  z-index: 3;
  background-color: #62bbc160;
  width: 20%;
  margin: 2%;
  top:50%;
  transform:translate(0,-50%);
}

.linkHeader {
  margin: 0;
  font-family: verdana;
  color: white;
  position: relative;
  font-size: 200%;
  text-decoration:none;
  text-align:center;
}

#blob {
  background-color: white;
  height: 34vmax;
  aspect-ratio: 1;
  position: absolute;
  left: 50%;
  top: 50%;
  translate: -50% -50%;
  border-radius: 50%;
  background: linear-gradient(to right, aquamarine, mediumpurple);
  animation: rotate 20s infinite;
  opacity: 0.8;
}

#blur {
  height: 100%;
  width: 100%;
  position: absolute;
  z-index: 2;
  backdrop-filter: blur(12vmax);
}
